@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$hover-gray: rgb(59, 59, 59);

.Header {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 100%;
	height: 164px;

	background-color: #f3f3f3;
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

.title {
	margin-top: 39px;
	margin-bottom: 39px;

	font-family: 'Press Start 2P', cursive;
	font-size: 35px;

	color: black;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 51px;
	width: 100%;

	font-size: 18px;
	color: white;
	background-color: black;
}

.categories {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.category-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 120px;
	height: 100%;
	cursor: pointer;

	&:hover {
		background-color: $hover-gray;
	}
}

.basket-container,
.basket-counterpart {
	width: 30px;
}

.basket-counterpart {
	margin-left: 40px;
}

.basket-container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 60px;

	margin-right: 40px;
	padding-right: 3px;

	position: relative;
	text-align: end;

	cursor: pointer;

	&:hover {
		background-color: $hover-gray;
	}
}

#basket-count {
	position: absolute;
	bottom: 5px;
	right: 2px;

	width: 20px;

	text-align: left;
	font-size: 13px;
	font-weight: 500;
}
