@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.Header {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 100%;
	height: 170px;

	background-color: #f3f3f3;

	border-bottom: solid white 1px;
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

li {
    list-style-type: none;
}

.title {
	margin-top: 39px;
	margin-bottom: 39px;

	font-family: 'Press Start 2P', cursive;
	font-size: 35px;

	color: black;
}

.category {
    cursor: pointer;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 57px;
	width: 100%;

	font-size: 18px;
	color: white;
	background-color: black;
}

.categories {
	display: flex;
	justify-content: center;
	align-items: center;
    gap: 50px;
}

.basket-container, .basket-counterpart {
	width: 30px;
}


.basket-counterpart {
	margin-left: 30px;
}

.basket-container {
	position: relative;
	margin-right: 30px;
	text-align: end;

	cursor: pointer;
}

#basket-count {
	position: absolute;
	bottom: -9px;
	right: -20px;

	width: 20px;

	text-align: left;
	font-size: 13px;
	font-weight: 500;
}