.Display {
	display: grid;
	grid-template-rows: 70px 1fr;
	font-size: 14px;
}

.sort {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 7px;

    height: 70px;
    padding-right: 30px;

    font-size: 16px;
}

select {
	width: 120px;
	height: 25px;
	border-radius: 5px;

    font-size: 16px;
}

.display-area {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;

	padding: 30px 30px 30px 30px;
}
