.ProductCard {
	display: flex;
	flex-direction: column;

	width: 270px;
	height: 380px;

	padding: 20px;

	background-color: #f3f3f3;
	border: rgb(208, 208, 208) solid 1px;
	border-radius: 20px;

	cursor: pointer;

	&:hover {
		background-color: #f5eded;
	}
}

.prod-info-card {
	display: flex;
	flex-direction: column;

	margin-top: 15px;
	padding-right: 20px;
}

.prod-name-card {
    height: 38px;
	font-size: 16px;
}

.prod-availability-card {
	margin-top: 12px;
	margin-bottom: 4px;
}

.in-stock-true-card,
.in-stock-false-card {
	font-size: 15px;
}

.in-stock-true-card {
	color: green;
}

.in-stock-false-card {
	color: rgb(250, 104, 0);
}

.prod-price-card {
	font-size: 23px;
	font-weight: 500;
}
